body {
    background-color: #000;
    color: #f07fff;
    text-align: center;
    height: 500px;
    /*cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;*/
    
}
.judul h1 {
    font-family: "SFBalloons, sans serif";
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
      
}
canvas {
    background-color: rgba(red, green, blue, alpha);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.fto {
    border-radius: 10px;
    
    justify-content: center;
    margin-left: 20px;
}
.marquee img {
  border: 5px solid #f07fff;
}
.marqueekn img {
  border: 5px solid #f07fff;
}
.isi {
    color: #ff54c0;
    margin-top: 20px;
}

  .marquee {
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
    display: flex;
  }
  .marquee div {
    display: flex;
    position: absolute;
    width: 400%;
    overflow: hidden;
    animation: marquee 30s linear infinite;

  }
  .marquee div:hover {
    animation-play-state: auto;
  }
  .marquee span {
    float: left;
    width: 50%;
  }
  
  @keyframes marquee {
    0% { left: 10%; }
    100% { left: -300%; }
  }


  .marqueekn {
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
    display: flex;
  }
  .marqueekn div {
    display: flex;
    position: absolute;
    width: 400%;
    overflow: hidden;
    animation: marqueekn 30s linear infinite;

  }
  .marqueekn div:hover {
    animation-play-state: auto;
  }
  .marqueekn span {
    float: left;
    width: 50%;
  }
  
  @keyframes marqueekn {
    0% { right: 0; }
    100% { right: -300%; }
  }

  footer {
    background-color: #ff00f7; 
    margin-top: -20px; 
    padding: 20px; 
    margin-right: -20px;
    color: white;
  }

  .teks {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #5e5e5e75;
    color: white;
  }
  button {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #ffffff;
    color: #000;
    padding: 10px 10px;
    border-radius: 10px;
  }